{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% placeholder 'col-1'  or %}
            <a href="http://194.29.175.240/~p6/wsgi/" class="list-group-item">Strona główna</a>

            {% endplaceholder %}
        </div>
        <div class="col-md-4 col-md-offset-1">
            {% placeholder 'col-2'  or %}
            moj mail : asia@wp.pl
            {% endplaceholder %}
        </div>
    </div>

{% endblock %}