<!doctype html>
{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% page_attribute meta_description %}"/>
      <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
      <title>Django CMS | {% page_attribute "title" %}</title>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <style>
          .cms_placeholder { display: block !important; }
          .nav li > ul {
              margin-left: 20px;
          }
          .breadcrumb > li + li:before { content: ""; padding: 0; }
      </style>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}

      <div class="container" style="margin-top: 10px;">
          <div class="row">
              <div class="col-md-3">
                  <ul class="nav nav-pills nav-stacked well">
                      <li class="nav-header"><h3>Nawigacja</h3></li>
                      {% show_menu %}
                  </ul>
              </div>
              <div class="col-md-9">
                  <nav id="breadcrumb">
                      <ol class="breadcrumb">
                          {% show_breadcrumb %}
                      </ol>
                  </nav>

                  <header>
                      {% placeholder header %}
                  </header>

                  {% block content %}{% endblock %}

                  <hr>
                  <footer>
                      {% static_placeholder 'footer' or %}
                      <p>Nasza stopka!</p>
                      {% endstatic_placeholder %}
                  </footer>
              </div>
          </div>
      </div>

      {% render_block "js" %}
      <script src="//code.jquery.com/jquery-latest.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script>
          $(function() {
              $('.nav li.selected').addClass('active');
              $('.nav li > ul').addClass('nav nav-pills nav-stacked');
          })
      </script>

  </body>
</html>